<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <translations>
    <add key="08" value="../config/pdi/PlantTranslation.xml" />
    <add key="13[@02§&gt;13I230§&gt;13ICTI§&gt;13IM§&gt;13IRL§&gt;13DTCI" value="../config/pdi/ResourceTranslation.xml" />
  </translations>
  <iDBtranslations>
    <add key="08" value="../config/pdi/iDB_PlantTranslation.xml" />
    <add key="13I@20§&gt;13IB60§&gt;13IM06§&gt;13IY30§&gt;13IA10§&gt;13DA10" value="../config/pdi/iDB_ResourceTranslation.xml" />
  </iDBtranslations>
</configuration>