<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="X-Frame-Options" />
        <remove name="X-XSS-Protection" />
        <remove name="X-Content-Type-Options" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    <handlers>      
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-gif" path="*.gif" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common, Version=1.0.0.1, Culture=neutral, PublicKeyToken=null" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-js" path="*.js" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common, Version=1.0.0.1, Culture=neutral, PublicKeyToken=null" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-json" path="*.json" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-html" path="*.html" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-css" path="*.css" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-png" path="*.png" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-jpg" path="*.jpg" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-ico" path="*.ico" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-svg" path="*.svg" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-woff" path="*.woff" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-woff2" path="*.woff2" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-ttf" path="*.ttf" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-eot" path="*.eot" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-pb" path="*.pb" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-shard" path="*of3" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-wasm" path="*.wasm" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler-tflite" path="*.tflite" verb="*" type="Comos.Web.Client.Common.HttpHandlers.DefaultHttpHandler, Comos.Web.Client.Common" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5.0" newVersion="1.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
