<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- To enable Cross-Origin Resource Sharing (CORS) for Public APIs, you need to uncomment the section given below and update the origin attribute value. -->
    
    <!--<cors enabled="true">
		  <add origin="https://www.example.com:443" allowCredentials="true" >
			  <allowHeaders allowAllRequestedHeaders="false">
				  <add header="Comos-API-Session" />
					<add header="Content-Type" />						
			  </allowHeaders>
				<allowMethods>	
				  <add method="GET" />
					<add method="POST" />
          <add method="PATCH" /> 
					<add method="DELETE" />  
				</allowMethods>
			</add>				
		</cors>-->
  </system.webServer>
</configuration>
