<configuration>
  <!--
  SelectionType: Scenario applicable are,
  1. Navigator area "Print->Print" option (Silent Printing, No print dialog will be displayed)
  2. For all bulk printing (It means printing more than one document in single print operation.)     

  SelectionTypeForInteractivePrint: Scenario applicable are,
  1. Applicable only single document print operation, in which print dialog will be displayed
  
  AutoSelect:
	1. Paper size selection will be determined by Comos
    
  UsePrinterSetting:  
  1. Paper size selection will be set to default paper size of default system printer  
  
	default Setting for Comos < 10.4.1 was UsePrinterSetting
	<PaperSizeSelection selectionType="UsePrinterSetting" selectionTypeForInteractivePrint="UsePrinterSetting" />
	
	new 
  -->
  <PaperSizeSelection selectionType="AutoSelect" selectionTypeForInteractivePrint="AutoSelect" />


  <!-- Configuration for the output file name
  
   DropLocation: Indicates the path where the output of a printer should be saved.
	 FileName: The format of an output file - timestamp will be added at last to make filename unique
	 
   Reserved keywords which can used to configure DropLocation and FileName,
		{UserProfile} - Current logged in user
		{SystemFullName} - Document/report SystemFullName.
		{SystemUID} - Document/report SystemUID.
		{FileName} - Document/report FileName.
		{Description} - Document/report Description.
	-->
  <!-- Uncomment the following line, if the user wants to configure output DropLocation and FileName-->
  <!-- <OutputPrintFileDetails DropLocation="C:\users\{UserProfile}\Documents\Comos Printer" FileName="{SystemUID}" /> -->

  <!--	
    singlePrintJobs = "true"
		  Each report will be printed into a seprarate file when printing to a file printer.
    singlePrintJobs = "false"
		  All reports will be printed into single file when printing to a file printer.
	-->
  <ComosPrintJobs singlePrintJobs="false" />
  
  <!-- define PDF format
    pdfAConformance = ""
    pdfAConformance = "PDFA1b"
    pdfAConformance = "PDFA2b"
    pdfAConformance = "PDFA4e"
    pdfAConformance = "PDFA4f"
	-->
  <Pdf pdfAConformance="" />
</configuration>