<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Comos.Services.Ai.Api.dll" stdoutLogEnabled="true" stdoutLogFile="C:\Users\z004uz0p\AppData\Local\Temp\comos_ai_api\stdout" hostingModel="inprocess">
        <environmentVariables>
          <add name="ASPNETCORE_URLS" value="http://localhost:56400" />
          <add name="COMOS_LLM_MODEL" value="serviceipid-gateway" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  
</configuration>
<!--ProjectGuid: A59B92D0-3C29-40B4-A3EA-D6B4DB380237-->
